html, body {
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

.hidden {
    display: none;
}

body {
    color: white;
    background-color: black;

    display: flex;

    font-family: sans-serif;
}

a {
    cursor: pointer;
    color: #2e93ff;
}

sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #1e1e1e;

    width: 240px;
    border-right: 2px solid #444;
    
    padding-top: 8px;

    z-index: 1;

    gap: 12px;
}

game-title {
    font-size: 32px;
    font-weight: bold;
    padding: 12px;
}

passage-container {
    position: relative;
    flex-grow: 1;
}

#bg {
    position: absolute;
    left: 0px;
    top: 0px;

    filter: blur(20px) brightness(30%);

    width: 100%;
    height: 100%;

    object-fit: cover;
}

passage-stage {
    position: absolute;
    left: 0px;
    top: 0px;

    --padding: 32px;

    width: calc(100% - var(--padding) * 2);
    height: calc(100% - var(--padding) * 2);

    padding: var(--padding);
    transition: opacity 200ms;
}

time-block.morning { color: black; }
time-block.afternoon { color: black; }
time-block.evening { color: black; }
time-block.night { }

time-block {
    display: block;
    text-align: center;

    padding: 4px;

    font-family: monospace;
    border: 2px solid #ffffff50;
    font-size: 16px;
    user-select: none;
}

passage {
    display: block;
    height: 100%;
}

#money {
    color: gold;
}

passage[passage="battle"] {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#battle-stage {
    display: flex;
    justify-content: center;
}

battle-guy {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

battle-guy .name {
    font-weight: bold;
    font-size: 16px;
}

battle-guy img {
    height: 200px;
    width: 200px;
    image-rendering: pixelated;
}

battle-log {
    display: flex;
    flex-direction: column;
    background-color: #000000aa;
    color: white;
    font-family: monospace;
    flex-grow: 1;
}

bar {
    display: block;
    position: relative;
    height: 32px;
    width: 256px;
    border: 4px solid black;
    font-family: monospace;
    background-color: #181818;
}

bar-inner {
    display: block;
    transition: width 1s;
    height: 100%;
}

bar.health bar-inner {
    display: block;
    background-color: #c40101;
}

bar span {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    font-size: 16px;
}
